# Ignorer le dataset (trop lourd pour GitHub)
datasets/

# Ignorer les poids des modèles (fichiers .pt)
*.pt

# Ignorer les fichiers numpy
*.npy

# Dossier de logs d'entraînement
runs/

# Ignorer l'environnement virtuel et cache
__pycache__/
.DS_Store

# Virtual Environment
.venv/

# Conversion pt to tflite
conversion_pt_to_tflite/
